html {
	background-color: #F172A1;
	line-height: 1.5;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}


img {
    max-width: 100%;
    height: auto;
}

article img {
	width: 100%;
}

/* Thumbnail Styles */
.thumbnails{
	margin-right: -15px;
}

.thumbnails a {
	float: left;
	width: 25%;
	padding-right: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.thumbnails img {
	display: block;
	transition:all .2s ease-in-out;
}

.thumbnails:hover img {
	opacity: .6;
	transform: scale(.92);
}

.thumbnails img:hover {
	opacity: 1;
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0,0,0,.5);
}

/* End Thumbnail Styles */

.round-corner {
	border-radius: 10px 10px 0 0;
}

.transform {
	transform: rotate(10deg) scale(.8) skewX(25deg);
}

a {
	text-decoration: normal;
}

p a:hover {
	background-color: #f4e3ec;
}

/* Main Column Typography */
.main-area h2 {
	font-size: 165%;
	font-weight: normal;
}

.section {
	padding-left: 40px;
	padding-right: 40px;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 40px;
}

@media screen and (min-width: 1300px) {

	body {
		font-size: 17px;
	}

	.container {
		max-width: 1200px;
	}
}

@media screen and (max-width: 767px) {
	.section {
		padding-left: 20px;
		padding-right: 20px;
	}
}

header {
	padding-top: 20px;
	color: #FFF;
	background-image: #E64398
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	font-size: 90%;
	margin: 0;
}

h2 {
	font-weight: normal;
	font-size: 135%;
	color: #E64398;
	margin: 0;
}

article {
	margin-bottom: 40px;
}

/* End Main Column Typography */

/* Banner Overlay */
.image-banner {
	position: relative;
	overflow: hidden;
}

.image-banner img {
	display: block;
	transition: all 1s;
}

.image-banner:hover img {
	transform: scale(1.5);
}

.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: rgba(0,0,0,.65);
	padding: 15px 25px;
	opacity: 0;
	transition-property: all;
	transition-duration: 1s;
	transform: translateY(100%);
}

.image-banner:hover .banner-description{
	opacity: 1;
	transform: translateY(0);
}
/* End Banner Overlay */

/* Slideshow Styles */
.cycle-slideshow {
	margin-bottom: 40p,
}

.slide {
	position: relative;
}

.slide img {
	display: block;
}

.slide-text {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
	color: #FFF;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.slide-text {
		position: static;
		background-color: #000;
	}
}

.slide-text h3 {
	margin: 0;
}

.cycle-prev, .cycle-next {
	position: absolute;
	top: 30%;
	background-color: rgba(0,0,0,.35);
	color:#FFF;
	padding: 1px 10px;
	display: block;
	cursor: pointer;
	font-size: 130%;
	z-index: 1000;
	opacity: 0;
	transition: opacity .5s;
}

.cycle-next {
	right: 0;
}

.cycle-slideshow:hover .cycle-prev, 
.cycle-slideshow:hover .cycle-next {

	opacity: 1;
}

.cycle-pager {
	position: absolute;
	top: 20px;
	z-index: 1003;
	width: 100%;
	text-align: center;
}

.cycle-pager span {
	text-indent: -9999px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #FFF;
	margin: 0 4px;
	cursor: pointer;
}

.cycle-pager .cycle-pager-active {
	background-color: #000;
}

.btn-a {
	padding: 6px 10px;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #365267;
	color: #FFF;
	font-size: 84%;
	margin-left: 10px;
	text-decoration: none;
}

.btn-a:hover {

	color: #365267;
	background-color: #FFF;
}

/* End Slideshow Styles */

/* Site Navigation */
.site-nav {
	margin-top: 20px;
}
.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
	background-color: #F172A1;
}

.site-nav a {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #f4e3ec;
	border-bottom: none;
	transition-property: color, background-color;
	transition-duration: 1s;
}

.site-nav a:hover {
	background-color: #f4e3ec;
	color: #E64398;
}

@media screen and (max-width: 1023px) {
	.site-nav li {
		width: 25%;
		margin-right: 0;
	}

	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.site-nav li {
		width: 50%;
		margin-right: 0;
	}

	.site-nav a {
		padding: 15px 0;
		margin-right: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
}

/* Reveal and Hide Styles */
.read-more {
	text-decoration: underline;
	color: #F172A1;
}

.read-more:hover {
	text-decoration: none;
}

.toggle-btn {
	display: none;
}

@media screen and (max-width: 767px) {
	.toggle-btn-visible {
		display: block;
	}

	.toggle-target-hidden {
		display: none;
	}

	.toggle-target-expanded {
		display: block;
	}
}

.content-area .toggle-btn-visible {
		display: block;
	}

.content-area .toggle-target-hidden {
		display: none;
	}

.content-area .toggle-target-expanded {
		display: block;
	}

/* End Reveal and Hide Styles */
/* End Site Navigation */

.content-area {
	background-color: #FFF;
	padding-bottom: 40px;
	padding-top: 40px;
}

@media screen and (max-width: 767px) {
	.content-area {
		padding-top: 20px;
	}
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

.sidebar {
	font-size: 85%;
	background-image: linear-gradient(to bottom, #f4e3ec, #FFF);
	padding: 40px;
}

.sidebar h3 {
	font-size: 138.5%;
	margin-bottom: 7px;
	color: #E64398;
}

@media screen and (max-width: 767px) {

	.sidebar {
		width: auto;
		float: none;
	}
}

@media screen and (max-width: 480px) {

	.hide-small {
		display: none;
	}
}

/* Grid */
.row {
	margin-right: -20px;
}

.col {
	width: 100%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
}

.col-xs-11 {width: 91.662%}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.331%}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	
	.row {
		margin-right: -40px;
	}
	
	.col {
		padding-right: 40px;
	}
		
	.col-sm-11 {width: 91.662%}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
	
}

@media screen and (min-width: 1024px) {
	
	.col-md-11 {width: 91.662%}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
	
}

@media screen and (min-width: 1280px) {
	
	.col-lg-11 {width: 91.662%}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
	
}

@media screen and (max-width: 1023px) {
	.push-down-sm {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	.push-down-sm {
		margin-bottom: 15px;
	}
}

/* End Grid */

footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}
